<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myboard.web.board.file.dao.FileDao">
	<select id="getFileNo" resultType="Integer">
		select no from file
		where fileName=#{fileName}
	</select>
	<insert id="saveFile" parameterType="com.myboard.web.board.file.entity.FileDto">
		insert into file (origFileName, filePath, fileName)
		values (#{origFileName}, #{filePath}, #{fileName})
	</insert>
	<select id="getFile" resultType="com.myboard.web.board.file.entity.FileDto">
		select no, fileName, origFileName, filePath, regDate from file
		where no=#{no}
	</select>
	<update id="setBoardNo">
		update file set boardNo=#{boardNo}
		where no=#{fileNo}
	</update>
</mapper>